<div class="card__image-wrapper">
  <%= link_to post_path(post), class:"post__show-link link" do %>
    <%= image_tag post.image_url, width: "400px", class: "card__image image"%>
  <% end %>
</div>
<div class="card__info">
  <div class="card__caption"><%= link_to post.caption, post_path(post), class: "post__show-link link" %></div>
  <div class="card__info-row">
    <div class="card__info">
      <div class="card__user"><%= link_to post.user.name, post.user, class: "user__show-link user-link"%></div>
      <div class="card__time"><%= localize(post.created_at, :format => :long) %></div>
    </div>
    <div class="card__likes-count post__likes_count"><%= post.likes_count %></div>
  </div>
</div>
