<div class="form__wrapper">
  <%= form_for @post do |f| %>
    <%= f.hidden_field :image, value: @post.cached_image_data, id: nil %>
    <label>
      <span class="button">Изображение</span>
      <%= f.file_field :image, class: "visually-hidden" %>
    </label>
    <%= f.label "Подпись", class: "form__label" %>
    <%= f.text_field :caption, class: "form__input form__input--large" %>
    <%= f.submit "Создать пост", class: "button" %>
  <% end %>
</div>
