<section class="gallery index-gallery">
  <div class="gallery__wrapper">
    <ul class="post__list">
      <% @posts.each do |post| %>
        <li class="post__item" style="-webkit-transform : rotate(<%= rand(-10..10) %>deg); z-index: <%= rand(1..2)%>;">
          <div class="post__image-wrapper">
            <%= link_to post_path(post), class:"post__show-link link" do %>
              <%= image_tag post.image_url, width: "400px", class: "post__image image"%>
            <% end %>
          </div>
          <div class="post__caption"><%= link_to post.caption, post_path(post), class: "post__show-link link" %></div>
          <div class="post__user"><%= link_to post.user.name, post.user, class: "user__show-link link"%></div>
          <div class="post__time"><%= post.created_at %></div>
          <div class="post__like-counter"><%= post.likes_count %></div>
        </li>
      <% end %>
    </ul>
  </div>
</section>



