<section class="post__show">
  <div class="post__wrapper">
    <div class="image__wrapper">
      <%= image_tag @post.image_url, class: "post__image image" %>
    </div>
    <div class="post-info__wrapper">
      <div class="post__caption"><%= @post.caption %></div>
      <div class="post-info">
        <div class="post__user"><%= link_to @post.user.name, @post.user, class: "user-link" %></div>
        <div class="post__time"><%= localize(@post.created_at, :format => :long) %></div>
        <div class="post__likes_count"><%= @post.likes_count %></div>
        <div class="post--user--buttons__wrapper">
          <% if user_signed_in? %>
            <% @like = @post.likes.detect {|u| u["user_id"] == current_user.id }%>
            <% if @like %>
              <%= render 'unlike', like: @like %>
            <% else %>
              <%= render 'like', like: Like.new %>
            <% end %>
            <% if @post.user == current_user %>
              <%= link_to "Редактировать", edit_post_path(@post), class: "button" %>
              <%= link_to "Удалить пост", @post,
                          data: { "turbo-method": :delete, confirm: 'Вы уверены?' }, class: "button" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<% @comments = @post.comments %>
<%= render 'comments' if !@comments.empty? %>

<%= render 'comment_form', post: @post if user_signed_in? %>
<%= render 'edit_comment_form' if user_signed_in? %>
