<div class="header-wrapper">
  <div class="main-menu-wrapper content-wrapper">
    <ul class="main-menu__list">
      <li class="main-menu__item main-menu__logo">
        <% if (request.path == root_path) || (request.path == posts_path) %>
          <%= image_tag "logo.svg", class: "header__logo" %>
        <% else %>
          <%= link_to root_path do %>
            <%= image_tag "logo.svg", class: "header__logo header__logo--link" %>
          <% end %>
        <% end %>
      </li>
      <li class="main-menu__item">
        <%= link_to "Пользователи", users_path, class: "main-menu__link" %>
      </li>
    </ul>
    <ul class="main-menu__list main-menu__login">
      <% if user_signed_in? %>
        <li class="main-menu__item--user-name">
          <div class="main-menu__user-name"><%= current_user.name %></div>
        </li>
        <li class="main-menu__item">
          <%= link_to "Подписки", feed_path, class: "main-menu__link" %>
        </li>
        <li class="main-menu__item">
          <%= link_to "Новый пост", new_post_path, class: "main-menu__link" %>
        </li>
        <li class="main-menu__item">
          <%= link_to "Выход", destroy_user_session_path, class: "main-menu__link" %>
        </li>
       <% else %>
        <li class="main-menu__item">
          <%= link_to "Вход", new_user_session_path, class: "main-menu__link button--login" %>
        </li>
        <% end %>
    </ul>
  </div>
</div>